## Loading Data...
This notebook is an example showing how to load the data with a custom loading class

In [1]:
# Import GrupoBimboData
from tools.load_data import GrupoBimboData

In [2]:
# Initialise with file containing downloaded datafiles (from https://www.kaggle.com/c/grupo-bimbo-inventory-demand/data)
# NOTE: no need to unzip files
gp = GrupoBimboData('/home/gus/Repos/kaggle/data')
print(gp.data)

{'test': None, 'train': None, 'town_state': None, 'cliente_tabla': None, 'producto_tabla': None}

In [3]:
# Load data
gp.load_all()

In [4]:
gp.data['cliente_tabla'].head()

   Cliente_ID                            NombreCliente
0           0                               SIN NOMBRE
1           1                         OXXO XINANTECATL
2           2                               SIN NOMBRE
3           3                                EL MORENO
4           4  SDN SER  DE ALIM  CUERPO SA CIA  DE INT

In [5]:
gp.data['producto_tabla'].head()

   Producto_ID                          NombreProducto
0            0                       NO IDENTIFICADO 0
1            9               Capuccino Moka 750g NES 9
2           41  Bimbollos Ext sAjonjoli 6p 480g BIM 41
3           53          Burritos Sincro 170g CU LON 53
4           72     Div Tira Mini Doradita 4p 45g TR 72

In [6]:
gp.data['town_state'].head()

   Agencia_ID                   Town             State
0        1110     2008 AG. LAGO FILT      MÉXICO, D.F.
1        1111  2002 AG. AZCAPOTZALCO      MÉXICO, D.F.
2        1112    2004 AG. CUAUTITLAN  ESTADO DE MÉXICO
3        1113     2008 AG. LAGO FILT      MÉXICO, D.F.
4        1114   2029 AG.IZTAPALAPA 2      MÉXICO, D.F.

In [7]:
gp.data['test'].head()

   id  Semana  Agencia_ID  Canal_ID  Ruta_SAK  Cliente_ID  Producto_ID
0   0      11        4037         1      2209     4639078        35305
1   1      11        2237         1      1226     4705135         1238
2   2      10        2045         1      2831     4549769        32940
3   3      11        1227         1      4448     4717855        43066
4   4      11        1219         1      1130      966351         1277

In [8]:
# NOTE: By default train is limited to 1000 rows
gp.data['train'].head()

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil
0,3,1110,7,3301,15766,1212,3,25.14,0,0.0,3
1,3,1110,7,3301,15766,1216,4,33.52,0,0.0,4
2,3,1110,7,3301,15766,1238,4,39.32,0,0.0,4
3,3,1110,7,3301,15766,1240,4,33.52,0,0.0,4
4,3,1110,7,3301,15766,1242,3,22.92,0,0.0,3

### Param Override
Currently, the only extra params that get sent to `pandas.read_csv` are:
```python
data_load_args = {                                                          
    'train': {'nrows': 1000},                                               
}  
```

To override the default for 'train' or to pass through additional params, use `load_arg_override` in `load_all()`, e.g:

In [9]:
extra_args = data_load_args = {                                                          
    'train': {'nrows': 2000},
    'cliente_tabla': {'index_col': 0},
}
gp.load_all(load_arg_override = data_load_args)

In [10]:
gp.data['train'].shape

(2000, 11)

In [11]:
gp.data['cliente_tabla'].head()

                                      NombreCliente
Cliente_ID
0                                        SIN NOMBRE
1                                  OXXO XINANTECATL
2                                        SIN NOMBRE
3                                         EL MORENO
4           SDN SER  DE ALIM  CUERPO SA CIA  DE INT